.allInOneFilters {
  max-width: 380px;
  width: 100%;
  margin-right: 20px;
  padding: 35px;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #f1f1f5;
  border-radius: 15px;
}

@media (max-width: 880px) {
  .allInOneFilters {
    display: none;
  }
}
