.allInOneFilters {
  max-width: 380px;
  width: 100%;
  margin-right: 20px;
  padding: 35px;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #f1f1f5;
  border-radius: 15px;
}

.shown {
  display: block;
}

@media (max-width: 990px) {
  .allInOneFilters {
    display: none;
  }

  .shown {
    display: block;
    max-width: unset;
    width: unset;
    margin: unset;
    padding: unset;
    box-sizing: unset;
    border: unset;
  }
}
