.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100vw;
  border-bottom: 3px solid #fafafb;
  background-color: #fff;
}

.header_nav {
  max-width: 1286px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 19px 21px 15px;
  margin: 0 auto;
}

.logo {
  a img {
    display: flex;
    width: 182px;
    height: 32px;
    font-size: 24px;
  }
}

.nav {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;

    :last-child {
      margin-right: 0;
    }
  }

  li {
    margin-right: 20px;
  }

  a {
    display: flex;
    padding: 13px 16.5px;
    border: 1px solid #f1f1f5;
    border-radius: 12px;
    text-decoration: none;
    color: #888;
    font-size: 16px;
  }

  .username {
    display: flex;
    align-items: center;

    .human {
      margin-right: 10px;
    }

    .expand {
      margin-left: 10px;
      width: 8px;
      height: 5px;
    }
  }
}

@media (max-width: 990px) {
  .header {
    display: none;
  }

  .header_mob {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
  }

  .header_nav__mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 28px 20px;

    .logo_mob {
      a {
        display: flex;
        align-items: flex-start;

        img {
          width: 121px;
          height: 20px;
        }

        .burger {
          width: 16px;
          height: 14px;
          margin-right: 14px;
        }
      }
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;

      :last-child {
        margin-right: 0;
      }

      li {
        margin-right: 23px;
      }
    }
  }
}

@media (min-width: 989px) {
  .header_mob {
    display: none;
  }
}
