.domainSort {
  max-width: 1286px;
  margin: 0 auto;
  padding: 0 21px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .onMarket {
    b {
      color: #696974;
    }
  }

  b {
    font-size: 14px;
    color: #171725;
  }

  .sortItems {
    margin-left: 120px;
    span:active,
    span:focus,
    .active {
      color: #99cc66;
    }

    span {
      font-size: 14px;
      color: #92929d;
      img {
        padding-left: 5px;
      }
    }

    :not(:first-child) {
      padding-left: 20px;
    }

    :nth-child(2) {
      padding-left: 16px;
      color: #99cc66;
    }
  }
}

.mobileSortAndFilter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
  button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #ffffff;
    border: 1px solid #e5e5ed;
    border-radius: 10px;
    padding: 12px 18px;
    img {
      padding-left: 28px;
    }
  }
}

.shown {
  display: block;
}
.hidden {
  display: none;
}

@media (max-width: 990px) {
  .domainSort {
    display: none;
  }
}

@media (min-width: 989px) {
  .mobileSortAndFilter {
    display: none;
  }
}
