.domainItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;

  &.hoveredBg {
    padding: 20px 10px;
    border-radius: 10px;
    margin: 0 -10px;
    background-color: #f5f5f8;
  }

  .nameSide {
    display: flex;
    align-items: center;

    span {
      margin-left: 20px;
    }
  }

  .amountSide {
    display: flex;
    align-items: center;

    .domainPrice {
      text-align: end;
      margin-right: 21px;

      .gel {
        color: #171725;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.4rem;
      }

      .usd {
        color: #696974;
        font-size: 12px;
      }
    }
  }
}

.cartBtn {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  background: #99cc66;
  transition: all 0.3s ease;

  &:hover {
    width: 110px;
    display: flex;
    justify-content: space-around;
    background-color: #99cc66;

    .addToCart {
      display: block;
      font-size: 14px;
      color: #ffffff;
      padding-right: 7px;
    }
  }

  &.mouseClick {
    width: 110px;
    display: flex;
    justify-content: space-around;
    background-color: #f5f5f8;

    .alreadyInCart {
      display: block;
      font-size: 14px;
      color: #696974;
      padding-left: 7px;
    }
  }

  .addToCart,
  .alreadyInCart {
    display: none;
  }
}
